# This tells tmux to use fish shell as the default shell.
{{- if eq .chezmoi.os "darwin" }}
set -g default-shell /opt/homebrew/bin/fish
set -g default-command 'reattach-to-user-namespace -l /opt/homebrew/bin/fish'
{{- else if eq .chezmoi.os "linux" }}
set -g default-shell /usr/bin/fish
set -g default-command 'reattach-to-user-namespace -l /usr/bin/fish'
{{- end }}

# improve colors
# set -g default-terminal 'screen-256color'
set-option -sa terminal-overrides ',xterm-256color:RGB'

# use vim keybindings in copy mode
setw -g mode-keys vi

# act like vim
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R
bind-key -r C-h select-window -t :-
bind-key -r C-l select-window -t :+

# shortcut for reloading tmux conf
bind r source-file ~/.tmux.conf \; display "Config reloaded!"

# copy-mode
bind-key f copy-mode

# better plane splitting
bind | split-window -h
bind - split-window -v

# act like GNU screen
set -g prefix C-b
set -g prefix2 C-s

set -g mouse on

# start window numbers at 1 to match keyboard order with tmux window order
set -g base-index 1
set-window-option -g pane-base-index 1

# renumber windows sequentially after closing any of them
set -g renumber-windows on

# Set status bar
setw -q -g utf8 on

# switch to last pane
bind-key C-a last-pane

# keybindings to make resizing easier
bind -r C-h resize-pane -L 5
bind -r C-j resize-pane -D 5
bind -r C-k resize-pane -U 5
bind -r C-l resize-pane -R 5


set -g @copycat_ip_search 'C-i'

# Powerline
# run-shell "powerline-daemon -q"
# run-shell 'powerline-config tmux setup'

# List of plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'tmux-plugins/tmux-sensible'
set -g @plugin 'tmux-plugins/tmux-copycat'
set -g @plugin 'tmux-plugins/tmux-yank'
set -g @plugin "jlipps/tmux-safekill"
set -g @plugin 'erikw/tmux-powerline'

# Initialize TMUX plugin manager (keep this line at the very bottom of tmux.conf)
run '~/.tmux/plugins/tpm/tpm'

# Local config
if-shell "[ -f ~/.tmux.conf.local ]" 'source ~/.tmux.conf.local'
