[user]
	name = {{ .gitUserName}}
	email = {{ .gitUserEmail }}
	signingkey = {{ .gitUserSigningKey }}
[credential]
	helper = {{ .gitCredentialHelper }}
[alias]
  sl = log --oneline --decorate -20
  sla = log --oneline --decorate --graph --all -20
  slp = log --oneline --decorate
  slap = log --oneline --decorate --graph --all
[core]
	editor = nvim
	excludesfile = ~/.config/git/ignore
[color]
  ui = auto
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[push]
	default = matching
[pull]
	rebase = true
[merge]
	ff = only
	conflictstyle = diff3
[diff]
	compactionHeuristic = true
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
[init]
	defaultBranch = main
[gpg "ssh"]
	allowedSignersFile = ~/.config/git/allowed_signers
